h1, h2 {
    background: #ffeed6;
    box-shadow: 0.25em 0.25em 0 0 #ffcc85;
}

h1:first-of-type {
    #background: #ffeed6;
    box-shadow: 0 0.25rem 0 0 #ffcc85;
}

:link {
    color: #5b2333;
}

a:hover {
    color: #ffcc85;
}

body {
    background: #f7f4f3;
    color: #595358;
}


.status {
    background-color:#ffcc85;
}
